@model string
@{
    ViewData["Title"] = "Login";
}

<style>
    #badInput{
        display: none;
        color: crimson;
    }
</style>

<h1>Login page</h1>

<form id="loginForm" action="/User/Login" method="post" onsubmit="return checkInput()">
    <div class="table-sm">
        <div>
            <label class="col-1 col-sm-2 col-md-3" for="UserName">User name</label>
            <input id="UserName" name="UserName" type="text" />
        </div>
        <div>
            <label class="col-1 col-sm-2 col-md-3" for="Password">Password</label>
            <input id="Password" name="Password" type="password" />
        </div>
        <div>
            <label class="col-1 col-sm-2 col-md-3" for="RememberMe">Remember me</label>
            <input id="RememberMe" name="RememberMe" type="checkbox"/>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>

<p id="badInput">No username or password!</p>

@if (Model != null)
{
    <p style="color: crimson;">@Model</p>
}

<script>
    document.getElementById('loginForm').action += window.location.search;

    function checkInput(){
        let userEl = document.getElementById('UserName');
        let pwdEl = document.getElementById('Password');
        let badInputEl = document.getElementById('badInput');

        if (userEl.value == "") {
            badInputEl.style.display = 'inline-block';
            return false;
        }
        else {
            badInputEl.style.display = '';
        }
        if (pwdEl.value == "") {
            badInputEl.style.display = 'inline-block';
            return false;
        }
        else {
            badInputEl.style.display = '';
        }
    }
</script>