@{
    ViewData["Title"] = "Login Page";
}

<h1>Login page</h1>

<form action="@Url.Action("Validate", "Login")" method="post">
    <input name="user" type="text" placeholder="Username" /></br>
    <input name="password" type="password" placeholder="********" /></br>
    <input name="btnSubmit" type="submit" value="Login" />
</form>