@{
    ViewData["Title"] = "Booking Done";
}
<link rel="stylesheet" href="~/css/site.css">

<h1>Booking Complete</h1>

<p>Your booking details are as follows:</p>

<div id="bookingDetails" class="booking-details">
    <div>
        <span class="details-label">Date:</span>
        <span id="bookingDate" class="details-content"></span>
    </div>
    <div>
        <span class="details-label">Name:</span>
        <span id="name" class="details-content"></span>
    </div>
    <div>
        <span class="details-label">Email:</span>
        <span id="email" class="details-content"></span>
    </div>
    <div>
        <span class="details-label">Phone Number:</span>
        <span id="phoneNumber" class="details-content"></span>
    </div>
    <div>
        <span class="details-label">Party Size:</span>
        <span id="partySize" class="details-content"></span>
    </div>
    <div>
        <span class="details-label">Additional Notes:</span>
        <span id="additionalNotes" class="details-content"></span>
    </div>
</div>

<script src="~/js/BookingDone.js" ></script>
