@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Resturant</h1>
    <p>This is our resturant</p>
    <p>Our address is: <p>
        <a href="https://maps.google.com/maps?q=Campusvej+55,+5230+Odense">Campusvej 55, 5230 Odense</a>
        <a>Contact us on phone
    </p><a href="tel:+4512345678" />+45 12 34 56 78</a><p> or email</p><a href="mailto:resturant@sdu.dk">resturant@sdu.dk</a>
    <p>Test</p>
</div>
