@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Resturant</h1>
    <p>This is our resturant</p>
    <p>Our address is: <p>
        <a href="https://maps.google.com/maps?q=Campusvej+55,+5230+Odense">Campusvej 55, 5230 Odense</a>
        <a>Contact us on phone
    </p><a href="tel:+4512345678" />+45 12 34 56 78</a><p> or email</p><a href="mailto:resturant@sdu.dk">resturant@sdu.dk</a>
    <p>Test nr. 2</p>
</div>
    -->


<!-- FRONT PAGE -->
<div class="hero">
    <div class="hero-content">
            
        <div class="hero-left">
            <h1>Restaurant South</h1>
            <h2>Hungry?</h2>
            <p>Discover a world of taste experiences at Restaurant SDU. Our menu features fresh, local ingredients, carefully selected to create unforgettable dishes. Enjoy a cozy atmosphere and first-class service while we pamper your taste buds. Perfect for both family dinners and business lunches.</p>
            <button>Book table</button>
        </div>

        <div class="hero-right">
            <img src="/images/steak.png" alt="burger-serving">
        </div>

    </div>
</div>

<!-- ABOUT US SECTION -->

<div class="second-hero">
    <div class="about-us">

        <div class="about-left">
            <img class="team-pic" src="/images/team.png" alt="about-us-team"/>
        </div>

        <div class="about-right">
            <h1>About Us</h1>
            <p>
                At Restaurant SDU, we are a team of passionate food lovers who are dedicated to bringing the finest taste experiences to our guests. Our journey started with a shared dream of creating a unique eatery where quality and creativity go hand in hand.
            </p>
            <p>
                We believe in using local ingredients to support our community and ensure the freshness of each dish. Our team consists of experienced chefs and friendly staff who all share a passion for good food and excellent service. Come in and meet us and let us take you on a culinary journey you won't soon forget!
            </p>
        </div>

    </div>
</div>

<!-- THIRD SECTION -->
<div class="third-hero">
    <div class="contact-info">
        <h1>Contact Information</h1>
        <h3>Our address is</h3>
        <p><a href="https://maps.google.com/maps?q=Campusvej+55,+5230+Odense">Campusvej 55, 5230 Odense</a></p>
        <h3>Phone Contact</h3>
        <p>Phone: <a href="tel:+4512345678" />+45 12 34 56 78</a></p>
        <h3>E-mail Contact</h3>
        <p>E-mail: <a href="mailto:resturant@sdu.dk">resturant@sdu.dk</a></p>
    </div>
</div>