@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Resturant</h1>
    <p>This is our resturant</p>
    <p>Our address is: <p>
        <a href="https://maps.google.com/maps?q=Campusvej+55,+5230+Odense">Campusvej 55, 5230 Odense</a>
        <a>Contact us on phone
    </p><a href="tel:+4512345678" />+45 12 34 56 78</a><p> or email</p><a href="mailto:resturant@sdu.dk">resturant@sdu.dk</a>
    <p>Test nr. 2</p>
</div>
    -->


<!-- FRONT PAGE -->
<div class="hero">
    <div class="hero-content">
        <div class="hero-left">
            <h1>Restaurant South</h1>
            <h2>Hungry?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo vitae, voluptate ullam similique harum fuga repudiandae exercitationem nihil distinctio esse dolore odio nobis eos.</p>
            <button>Book table</button>
        </div>

        <div class="hero-right">
            <img src="/images/steak.png" alt="">
        </div>

    </div>
</div>

<!-- SECOND SECTION -->

