@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Booking Form";
}
<style>
	.grid-container {
		display: grid;
		grid-template-columns: auto auto;
		background-color: #2196F3;
	}

	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.8);
		font-size: 30px;
		text-align: center;
	}
</style>

<!-- This part creates labels and textfields that updates when a key has been pressed. -->
<form method="post" action="/Booking/Done">
    <div class="grid-container">
        <div class="grid-item"><label for="bookingDate">Enter the date you wish to book:</label></div>
        <div class="grid-item"><input type="date" id="bookingDate" name="From" onchange="checkDate()"></div>
        <div class="grid-item"><label for="party">Enter your name:</label></div>
        <div class="grid-item"><input type="text" id="nameTextbox" name="Name" onkeyup="checkName()"></div>
        <div class="grid-item"><label for="party">Enter your email:</label></div>
        <div class="grid-item"><input type="text" id="emailTextbox" onkeyup="checkEmail()"></div>
        <div class="grid-item"><label for="party">Enter your phone number:</label></div>
        <div class="grid-item"><input type="number" id="phoneTextbox" name="Phone" onkeyup="checkPhoneNumber()"></div>
        <div class="grid-item"><label for="party">Enter the size of your party:</label></div>
        <div class="grid-item"><input type="number" id="partyTextbox" name="PartySize" onkeyup="checkParty()"></div>
        <div class="grid-item"><label for="party">Enter any additional notes <br>(Food allergies or special needs):</label></div>
        <div class="grid-item"><input type="text" id="notesTextbox" name="Description" onkeyup="checkNotes()"></div>
        <!-- This part creates a button. -->
        <button id="continueButton" type="submit">Continue</button>
    </div>
</form>

<br><br>


<script src="~/js/BookingForm.js" ></script>